[submodule "services/tts"]
	path = services/tts
	url = git@github.com:hamon-ai/tts.git
[submodule "services/stt"]
	path = services/stt
	url = git@github.com:hamon-ai/stt.git
[submodule "services/llm"]
	path = services/llm
	url = git@github.com:hamon-ai/llm.git
[submodule "services/avatar"]
	path = services/avatar
	url = git@github.com:hamon-ai/avatar.git
[submodule "services/memory"]
	path = services/memory
	url = git@github.com:hamon-ai/memory.git
[submodule "services/panel"]
	path = services/panel
	url = git@github.com:hamon-ai/panel.git
