[submodule "services/tts"]
	path = services/tts
	url = git@github.com:ramonics/tts.git
[submodule "services/stt"]
	path = services/stt
	url = git@github.com:ramonics/stt.git
[submodule "services/llm"]
	path = services/llm
	url = git@github.com:ramonics/llm.git
[submodule "services/avatar"]
	path = services/avatar
	url = git@github.com:ramonics/avatar.git
[submodule "services/memory"]
	path = services/memory
	url = git@github.com:ramonics/memory.git
[submodule "services/panel"]
	path = services/panel
	url = git@github.com:ramonics/panel.git
